* {
    box-sizing: border-box;
  }

  html {
    font-family: 'Jost', sans-serif;
  }

  body {
    margin: 0;
    background-color: gray;
  }

  h2 {
    font-size: 2rem;
    border-bottom: 4px solid #ccc;
    color: #4eb670;
    margin: 0 0 1rem 0;
}

  header {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin: 3rem auto;
    border-radius: 10px;
    padding: 1rem;
    background-color: #5bf8b2;
    color: white;
    text-align: center;
    width: 90%;
    max-width: 50rem;
  }

  #assignment {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin: 3rem auto;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    width: 90%;
    max-width: 40rem;
  }

  #user-goal h2 {
    font-size: 2rem;
    border-bottom: 4px solid rgb(250, 248, 248);
    color: #047c46;
    margin: 0 0 1rem 0;
  }

  #assignment p {
    font-size: 1.25rem;

  }

  #assignment li {
    font-size: 1.25rem;
    font-weight: bold;
    border: 1px solid #4de4a0;
    background-color: #07f389;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
  }

  #assignment input {
    font: inherit;
    border: 1px solid #ccc;
  }

  #assignment input:focus {
    outline: none;
    border-color: #01311b;
    background-color: #d7fdeb;
  }

  #assignment button {
    font: inherit;
    cursor: pointer;
    border: 1px solid #db73a4;
    background-color: #df77a8;
    color: white;
    padding: 0.05rem 1rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
  }

  #assignment button:hover,
  #assignment button:active {
    background-color: #94042f;
    border-color: #94042f;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
  }

  .visible {
    display: block;
}

.hide {
    display: none;
}